

.header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.header ul li{
	float:left;
	padding:0 10px;	
}
.header ul li a{
	display: block;
	height: 50px;
	line-height: 50px;
}
.header_link dl dd, .header_link dl dt{
	float:left;
}