* {
  box-sizing: border-box;
}
body {
  font-family: microsoft Yahei;
}
.site_logo {
  margin: 10px;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li {
  float: left;
  padding: 0 10px;
}
.header ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
}
.header .header_link {
  float: right;
  padding: 10px;
  color: #b62024;
}
.header .header_link dl {
  margin: 0;
}
.header .header_link dl dd,
.header .header_link dl dt {
  float: left;
  padding: 0;
  margin: 0;
}
.header .nav {
  background: #fff;
  margin: 0 0 10px;
  padding-top: 10px;
  border-top: 5px solid #b62024;
}
.header .nav a {
  color: #b62024;
}
.header .nav li:hover {
  background: #e0a1a3;
}
.header .nav li:hover a {
  text-decoration: none;
  color: #fff;
}
.header .nav li.active {
  background: #b62024;
}
.header .nav li.active a {
  color: #fff;
}
.weixin_share img {
  width: 100%;
}
.weixin_share .weixin_share_pbtm15 {
  padding-bottom: 15px;
}
.weixin_share .consult_online {
  background: #b62024;
  color: #fff;
  width: 100%;
}
.weixin_share .evaluate_online {
  border: 1px solid #b62024;
  color: #b62024;
  width: 100%;
}
.weixin_share .evaluate_online,
.weixin_share .consult_online {
  padding: 15px 0;
}
.index_col {
  padding-top: 30px;
}
.index_item {
  border: 1px solid #eee;
}
